* {
    margin: 10;
    padding: 1000;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header Styling */
  #header {
    background: #333;
    color: white;
  }
  
  #header ul {
    list-style: none;
    text-align: center;
  }
  
  #header ul li {
    display: inline;
    margin: 0 15px;
  }
  
  #header ul li a {
    color: white;
    text-decoration: none;
  }
  
  /* Section Styling */
  section {
    padding: 50px 0;
    text-align: center;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(183, 115, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }

button[type="reset"] {
    background-color: rgb(183, 115, 255);
  }
  
  button[type="reset"]:hover {
    background-color: rgb(255, 248, 35); 
  }

button[type="project"] {
    background-color: rgb(183, 115, 255);
  }
  
  button[type="project"]:hover {
    background-color: rgb(255, 248, 35); 
  }
button[type="submit"] {
    background-color: rgb(183, 115, 255);
  }
  
  button[type="submit"]:hover {
    background-color: rgb(255, 248, 35); 
  }
  
  
  
  footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
 
.socialMedia {
    margin-top: 20px;
  }
  
  .socialMedia a {
    margin: 0 15px;
    text-decoration: none;
  }
  
  .socialMedia i {
    font-size: 24px;
    color: rgb(183, 115, 255);
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .socialMedia a:hover i {
    color: rgb(255, 248, 35);  /* Change to any color you'd like */
    transform: scale(1.2);
  }
  