{
    margin: e;
    padding: e;
    font-family: 'Poppins ' ,
    sans-serif;
    box-sizing: border-box;
}

body {
background: #989898;
color: #fff; 
}

#header {
width: 10%;
height: leevh;
background-image:
url( images/ background . png) ;
}